/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* End of html5doctor.com Reset Stylesheet */

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: #162231; /*#494d5f*/
    color: #e5eaf5;
}

a {
    color: #e5eaf5;
    text-decoration: none; 
}

.wrapper {
    display: block;
    width: 80%;
    margin: 0 auto;
}

/*header*/

.header {
    background-color: #162231;
    height: 17vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #e5eaf5 solid 0.2vw;
}

.header h2 {
    font-size: 11vw;
    font-weight: 400;
    display: block;
    text-align: center;
}

.header ul {
    width: 100%;
    list-style: none;
    display: block;
    font-size: 4vw;
    font-weight: 600;
    margin: 0 0 0 3vw;
    padding: 0 0 0 3vw;
    border-left: #e5eaf5 solid 0.8vw;
}

.header ul li a {
    display: block;
}

/*banner*/

.banner {
    margin-top: 1vw;
    background-color: #162231;
    height: calc(100vh - 17vw);
    width: 100%;
    display: block;
    border-bottom: #e5eaf5 solid 0.5vw;
    border-radius: 7vw;
}

.banner-background {
    height: 100%;
    width: 100%;
    filter: blur(1vw);
    border-radius: 7vw;
    
}

.banner h2 {
    position: absolute;
    font-size: 20vw;
    font-weight: 100;
    text-align: left;
    bottom: 70vw;
    line-height: 25vw;
    padding-left: 3vw;
    text-shadow: 0 0 3vw #000000;
}

@media only screen and (min-width: 450px) { 
    .banner h2 {
        position: absolute;
        font-size: 15vw;
        font-weight: 100;
        text-align: left;
        bottom: 30vw;
        line-height: 20vw;
        padding-left: 3vw;
        text-shadow: 0 0 3vw #000000;
    }
}

.banner h3 {
    position: absolute;
    font-size: 9vw;
    font-weight: 300;
    bottom: 15vw;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 3vw #000000;
}

/*about*/

.about {
    background-color: #162231;
    width: 100%;
    display: inline-block;
    color: #e5eaf5;
    padding: 10vw 0;
    margin: 1vw 0;
    
}

.about h2 {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 5vw;
}

.about p {
    font-size: 5vw;
    font-weight: 400;
    line-height: 5vw;
}

/**/
.portfolio {
    border-top:  solid 0.5vw #e5eaf5 ;
    border-bottom:  solid 0.5vw #e5eaf5 ;
    background-color: #261d2e;
    border-radius: 5vw;
    width: 100%;
    display: inline-block;
    color: #e5eaf5;
    padding: 10vw 0;
}

.portfolio h2 {
    font-size: 10vw;
    font-weight: 600;
    margin-bottom: 7vw;
}

.project {
    margin: 4vw auto;
    display: inline-block;
    padding: 5vw 5vw 5vw;
    outline: 1vw solid #e5eaf5;
    border-radius: 5vw;
    background-image: linear-gradient(to bottom,#3b2c48 , #22172c);
}

.project h2 {
    font-size: 7vw;
    font-weight: 600;
    margin-bottom: 5vw;
    text-align: center;
}


.project img {
    display: block;
    margin: 4vw auto;
    width: 80%;
    height: auto;
    border-radius: 5vw;
}

.project p {
    font-size: 5vw;
    font-weight: 400;
    line-height: 5vw;
}

/**/

.skills {
    background-color: #162231;
    width: 100%;
    display: inline-block;
    color: #e5eaf5;
    padding: 10vw 0;
    margin: 1vw 0;
}

.skills h2 {
    font-size: 10vw;
    font-weight: 600;
    
    border-bottom: #e5eaf5 solid 0.5vw;
}

.skills h3 {
    margin-top: 5vw;
    font-size: 7vw;
    font-weight: 600;
    margin-bottom: 5vw;
}

.skillslist {
    list-style: none;
    display: block;
    font-size: 5vw;
    line-height: 6vw;
}

/*footer*/
.footer {
    background-color: #232526;
    height: 45vw;
    width: 100%;
    display: block;
    border-top: #e5eaf5 solid 0.2vw;
}

.footer h2 {
    margin: 5vw 0;
    font-size: 7vw;
    font-weight: 400;
    display: block;
}

.footer p {
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
}

.footer .email a {
    text-decoration: underline;
}

.footer .email a:hover {
    color: #aaadb4;
}

.footer .imggrid {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 5vw;
}

.footer img {
    display: block;
    width: 5vw;
    height: auto;
    margin: 0 1vw;
}

/*tablet*/

@media only screen and (min-width: 700px) { 

    /*banner*/    
    
    .banner h2 {
        position: absolute;
        font-size: 13vw;
        font-weight: 100;
        text-align: center;
        bottom: 30%;
        line-height: 17vw;
        text-shadow: 0 0 3vw #000000;
    }
    
    .banner h3 {
        position: absolute;
        font-size: 6vw;
        font-weight: 300;
        bottom: 7vw;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 3vw #000000;
    }
    
}

/*desktop*/

@media only screen and (min-width: 1000px) {

    .wrapper {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    
    /*header*/
    
    .header {
        background-color: #162231;
        height: 4vw;
        width: 99%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        border-bottom: none;
    }
    
    .header h2 {
        font-size: 3vw;
        font-weight: 100;
        display: block;
        text-align: center;
        text-shadow: 0 0 2vw #000000;
        float: left;
        padding-left: 1vw;
    }

    .header ul {
        width: 100%;
        list-style: none;
        display: flex;
        font-size: 2vw;
        font-weight: 400;
        margin: 0 0;
        padding: 0 0;
        border-left: #e5eaf5 solid 0.2vw;
        text-shadow: 0 0 2vw #000000;

    }
    
    .header ul li a {
        display: block;
        padding: 0 1vw;
    }
    
    /*banner*/
    
    .banner {
        border-top: #e5eaf5 solid 0.2vw;
        margin-top: 0.3vw;
        background-color: #162231;
        height: calc(100vh - 4vw);
        width: 100%;
        display: block;
        border-bottom: #e5eaf5 solid 0.2vw;
        border-radius: 0vw;
    }
    
    .banner-background {
        height: 100%;
        width: 100%;
        filter: blur(0.7vw);
        border-radius: 0vw;
        display: none;
    }

    #particles-js {
        display:contents;
        width: auto;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    
    .banner h2 {
        position: relative;
        font-size: 5vw;
        font-weight: 100;
        text-align: center;
        bottom: 16vw;
        line-height: 10vw;
        text-shadow: 0 0 2vw #000000;
        pointer-events: none;
    }
    
    .banner h3 {
        position: absolute;
        font-size: 3vw;
        font-weight: 300;
        bottom: 2vw;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 2vw #000000;
        pointer-events: none;
    }
    
    /*about*/
    
    .about {
        background-color: #162231;
        width: 100%;
        display: inline-block;
        color: #e5eaf5;
        padding: 3vw 0;
        
    }
    
    .about h2 {
        font-size: 7vw;
        font-weight: 100;
        margin-bottom: 1vw;
    }
    
    .about p {
        font-size: 2vw;
        font-weight: 400;
        line-height: 3vw;
    }
    
    /**/
    .portfolio {
        border-top:  solid 0.2vw #e5eaf5 ;
        border-bottom:  solid 0.2vw #e5eaf5 ;
        background-color: #261d2e;
        border-radius: 0vw;
        width: 100%;
        color: #e5eaf5;
        padding: 3vw 0;
    }
    
    .portfolio h2 {
        font-size: 7vw;
        font-weight: 100;
        margin-bottom: 2vw;
    }
    
    .project-wrapper {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .project {
        margin: 1vw;
        display: inline-block;
        padding: 2vw 2vw 2vw;
        outline: 0.2vw solid #e5eaf5;
        border-radius: 1vw;
        width: 16%;
        background-image: linear-gradient(to bottom,#554167 , #22172c);
    }
    
    .project h2 {
        font-size: 2vw;
        font-weight: 600;
        margin-bottom: 2vw;
        text-align: center;
    }
    
    .project img {
        display: block;
        margin: 0.5vw auto;
        width: 95%;
        height: auto;
        border-radius: 1vw;
    }
    
    .project p {
        font-size: 1.2vw;
        font-weight: 400;
        line-height: 1.3vw;
    }
    
    /**/
    
    .skills {
        background-color: #162231;
        width: 100%;
        display: inline-block;
        color: #e5eaf5;
        padding: 3vw 0;
        margin: 1vw 0;
        display: flex;
    }
    
    .skills h2 {
        font-size: 7vw;
        font-weight: 100;
        
        border-bottom: #e5eaf5 solid 0.2vw;
    }
    
    .skills h3 {
        margin-top: 2vw;
        font-size: 4vw;
        font-weight: 600;
        margin-bottom: 0vw;
    }
    
    .skillslist {
        width: 35%;
        list-style: none;
        display: flex;
        font-size: 2vw;
        margin: 0;
        padding-left: 3vw;
    }

    .skillslist li {
        padding-right: 5vw;
        list-style: circle;
    }
    
    /*footer*/
    .footer {
        background-color: #232526;
        height: 12vw;
        width: 100%;
        display: block;
        border-top: #e5eaf5 solid 0.2vw;
    }
    
    .footer h2 {
        margin: 1vw 0;
        font-size: 2vw;
        font-weight: 100;
        display: inline-block;
    }
    
    .footer p {
        font-size: 1vw;
        font-weight: 400;
        line-height: 2vw;
    }
    
    .footer .email a {
        text-decoration: underline;
    }
    
    .footer .email a:hover {
        color: #aaadb4;
    }
    
    .footer .imggrid {
        margin-top: 0vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-left: 5vw;
        padding-top: 1vw;
    }
    
    .footer img {
        display: block;
        width: 2vw;
        height: auto;
        margin: 0 0;
    }

    

} 